table {
    width: 99%;
    margin: 1rem auto; 
  }
  
  .mat-form-field {
    width: 99%;    
    font-size: 14px;
    margin: 1rem ; 
  }

  .mat-cell {
    padding: 8px 8px 8px 0;
  }

  .espacio {
    justify-content: center;
    height: 80px;
  }

  .textsize{
    font-size: 16px;
    font-weight: 200;
  }


  .textsizeceldas{
    font-size: 12px;
  }

  .colorcabecera{
    background-color: #5f5858;
    padding-right: 10px;
    color: white;
  }

  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .colorFilter{
    color: aquamarine;
  }