<mat-toolbar class="espacio">
  <span class="textsize">Listado General de Cobranzas</span>
</mat-toolbar>
  

<div class="centrado">
  <mat-form-field appearance="outline">
    <mat-label>Buscar Por</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Escribir aqui" style="color: blueviolet;" #input>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="View">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera">  </th>
      <td mat-cell *matCellDef="let element">         
          <mat-icon color="primary" [cdkCopyToClipboard]="element.ReciboID" (click)="SnackBarCopy()">view_list</mat-icon>      
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Copy">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera">  </th>
      <td mat-cell *matCellDef="let element">         
          <mat-icon [cdkCopyToClipboard]="element.ReciboID" (click)="SnackBarCopy()">content_copy</mat-icon>      
      </td>
    </ng-container>
 
    <!-- Name Column -->
    <ng-container matColumnDef="ReciboID">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera"> ReciboID </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas">{{element.ReciboID}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="CodRecibo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="colorcabecera"> CodRecibo </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.CodRecibo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="colorcabecera"> Estado </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.Estado}} </td>
    </ng-container>

    <!-- Position Column -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="colorcabecera"> Fecha </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.Fecha}} </td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="FechaDoc">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera"> FechaDoc </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.FechaDoc}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="FormaPago">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="colorcabecera"> FormaPago </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.FormaPago}} </td>
    </ng-container>

    <!-- Position Column -->
      <ng-container matColumnDef="IdVendedor">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> CodVen. </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.IdVendedor}} </td>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="ImpTotalBS">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> ImpTotalBS </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.ImpTotalBS}} </td>
    </ng-container>
      
    <!-- Symbol Column -->
    <ng-container matColumnDef="ImpTotalUSD">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera"> ImpTotalUSD </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.ImpTotalUSD}} </td>
    </ng-container>   

    <!-- Position Column -->
    <ng-container matColumnDef="KUNNR">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> CodCliente </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.KUNNR}} </td>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Moneda">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> Moneda </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.Moneda}} </td>
    </ng-container>
      
    <!-- Symbol Column -->
    <ng-container matColumnDef="NombreCliente">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera"> Cliente </th>
      <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.NombreCliente}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="NroDocumento">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> NroDoc. </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.NroDocumento}} </td>
        </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="NroPosiciones">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> Nropos. </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.NroPosiciones}} </td>
    </ng-container>
        
    <!-- Symbol Column -->
    <ng-container matColumnDef="Observacion">
        <th mat-header-cell *matHeaderCellDef class="colorcabecera"> Observacion </th>
        <td mat-cell *matCellDef="let element" class="textsizeceldas"> {{element.Observacion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Update">
      <th mat-header-cell *matHeaderCellDef class="colorcabecera"> Update </th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary" (click)="UpdateRecibo(element)" (click)="openSnackBar(element.CodRecibo, element.IdVendedor)">
            <mat-icon >sync</mat-icon>
          </button>
      </td>      
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay datos en la tabla "{{input.value}}"</td>
    </tr>
  </table>
  
