.espacio {
    flex: 1 1 auto;
  }

  .grupoBotones {
    padding-left: 150px;
  }

  .banertop{
      background-color: black;
      color: blanchedalmond;
      height: 40px;
  }

  .textsize{
    font-size: 12px;
  }