table {
    width: 99%;
    margin: 1rem auto; 
    max-height: 50vh;
  }
  
  .mat-form-field {
    width: 99%;    
    font-size: 14px;
    margin: 1rem; 
  }
  
  .textsize{
    font-size: 16px;
    font-weight: 200;
  }
    
  .textsizeceldas{
    font-size: 12px;
  }
  
  .colorcabecera{
    //background-color: rgb(239, 239, 243);   
    background-color: #5f5858;
    padding-right: 10px;
    color: white;
  }

  .centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }